<div id="banner"></div>

<h1>New alert</h1>

<%= form_for :alert, url: alerts_path do |f| %>
<p>
<%= f.label :lat, 'Latitude' %><br>
<%= f.text_field :lat %>
</p>

<p>
<%= f.label :lon, 'Longitude' %><br>
<%= f.text_field :lon %>
</p>

<p>
<%= f.label :magnitude, "Severity (1-10)" %><br>
<%= f.text_field :magnitude %>
</p>

<div id="reasons">
<%= f.label :description, "Reason" %><br>
<%= f.text_area :description, size: '25x2' %><br>
</div>

<p>
<%= f.label :area %><br>
<%= f.text_field :area %>
</p>

<p>
<%= f.label :image, "Upload a photo" %><br>
<%= f.file_field :image %>
</p>

<p>
<%= f.submit %>
</p>

<% end %>
