<style>
.tcontainer {
  display: table;
}

.row  {
  display: table-row;
}

.lcell, .rcell {
  display: table-cell;
  vertical-align: top;
}

.lcell {
  padding-right: 10px;
}
</style>

<div align="center">
<%= form_for :alert, url: alerts_path, remote: true do |f| %>
    <%= f.hidden_field :alert_type, value: type %>
    <p>
        <%= f.label :address, 'Reference' %>
        <%= f.text_field :address %>
    </p>
    <p>
        <div id="map_picker" style="width: 350px; height: 150px;"></div>
    </p>
    <%= f.hidden_field :lon %>
    <%= f.hidden_field :lat %>

    <div class="tcontainer">
      <div class="row">
        <div class="lcell"><%= f.label :magnitude, "Severity (1-10)" %></div>
        <div class="rcell"><%= f.text_field :magnitude, style: "width: 200px;" %></div>
      </div>

      <div class="row">
        <div class="lcell"><%= f.label :area %></div>
        <div class="rcell"><%= f.text_field :area, style: "width: 200px;" %></div>
      </div>

      <div class="row">
        <div class="lcell">
          <%= f.label :description, "Reason" %><br>
        </div>
        <div class="rcell">
          <div id="reasons"><%= f.text_area :description, rows: 2, style: 'width: 200px;' %><br></div>
        </div>
      </div>
    </div>

    <p>
        <%= f.label :image, "Upload a photo" %><br>
        <%= f.file_field :image %>
    </p>

    <p>
        <%= f.submit 'Send alert', class: 'btn btn-primary' %>
    </p>

<% end %>
</div>

<script type='text/javascript'>
 $('#map_picker').locationpicker({
     location: {
         latitude: map.gMap.getCenter().k,
         longitude: map.gMap.getCenter().B
     },
     radius: 100,
     enableAutocomplete: true,
     inputBinding: {
         latitudeInput: $('#alert_lat'),
         longitudeInput: $('#alert_lon'),
         locationNameInput: $('#alert_address')
     }
 });
</script>
