$(document).ready(function() {
    var map;
    var centre = new google.maps.LatLng(13.1864581,-85.9448642);
    var colour = '#6d9654';
    var ib = new InfoBox();

    function initialize() {
	map = new google.maps.Map(document.getElementById('map'),
			          { center: centre, zoom: 9,
                                    mapTypeId: google.maps.MapTypeId.HYBRID,
                                    zoomControlOptions: {
                                        style: google.maps.ZoomControlStyle.LARGE
                                    },
                                    streetViewControl: false });
        setMarkers(map, locats);
        google.maps.event.addListener(map, "click", function() { ib.close() });
        infowindow = new google.maps.InfoWindow({
            content: "loading..."
        });

        // Save ref in DOM
        document.getElementById('map').gMap = map;

        // Try W3C Geolocation
        if(navigator.geolocation) {
            browserSupportFlag = true;
            navigator.geolocation.getCurrentPosition(function(position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                map.setCenter(initialLocation);
            }, function() {
                handleNoGeolocation(browserSupportFlag);
            });
        }
        // Browser doesn't support Geolocation
        else {
            browserSupportFlag = false;
            handleNoGeolocation(browserSupportFlag);
        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag == true) {
                alert("Geolocation service failed.");
                initialLocation = newyork;
            } else {
                alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
                initialLocation = siberia;
            }
            map.setCenter(initialLocation);
        }
    }

    var locats =[]
    var alertcircle;
    <% @alerts.each do |alert| %>
    <% if  alert.alert_images.first.uploaded_image.url == "/uploaded_images/original/missing.png" or !alert.alert_images.presence %>
    <% @zwei = "/missing.jpg" %>
    <% else %>
    <% @zwei =  alert.alert_images.first.uploaded_image.url  %>
    <%end%>

    locats.push(['<%=  alert.description['reason1'] %>','<%=  alert.lat %>','<%=  alert.lon %>', <%=  alert.area %>, '<%= alert.alert_type %>','<%= @zwei %>', '<%= alert.magnitude%>']);
    <%end%>

    function createMarker(location,map){
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18 , 1],
            type: 'poly'
        };
        var image = {
            url: "<%= asset_path('fire.png') %>",
            // This marker is 20 pixels wide by 32 pixels tall.
            size: new google.maps.Size(22, 34),
            // The origin for this image is 0,0.
            origin: new google.maps.Point(0,0),

            anchor: new google.maps.Point(10, 10)
        };
        var myLatLng = new google.maps.LatLng(location[1], location[2]);
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            icon: image,
            shape: shape,
            title: location[0],
            zIndex: location[3]
        });
        var circe = {
            fillColor: colour,
            strokeOpacity: 0,
            strokeWeight: 2.3,
            fillOpacity: 0.3,
            center:  myLatLng,
            radius: location[3] ,
            map:map
        };

        var boxText = document.createElement("div");
        boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: #333333; padding: 5px;";
        boxText.innerHTML = '<div class=\"row\"><div class=\"col-sm-4\"><img \src=\"'+location[5]+'\" width=\"80\" height=\"80\"/></div>> <div class=\"col-sm-8\"><p id="wasser"> Reason: '+location[0]+'<br>severity:'+ location[6]+'<br>Area:'+ location[3]+'</p></div>'

        var myOptions = {
            content: boxText
            ,disableAutoPan: false
            ,maxWidth: 0
            ,pixelOffset: new google.maps.Size(-140, 0)
                ,zIndex: null
            ,boxStyle: {
                background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.12/examples/tipbox.gif') no-repeat"
                ,opacity: 0.75
                ,width: "360px"
            }
            ,closeBoxMargin: "10px 2px 2px 2px"
            ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
            ,infoBoxClearance: new google.maps.Size(1, 1)
                ,isHidden: false
            ,pane: "floatPane"
            ,enableEventPropagation: false
        };
        // end example code for custom infobox
        // var ib = new InfoBox(myOptions);

        google.maps.event.addListener(marker, "click", function (e) {

            //ib.close();
            ib.setOptions(myOptions);
            ib.open(map, this);
        });
        alertcircle = new google.maps.Circle(circe);
        return marker;


    }


    function setMarkers(map, locations) {
        for (var i = 0; i < locats.length; i++) {
            createMarker(locations[i],map);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
});
